In [1]:
import pandas as pd
import json
# df = pd.json_normalize('1650608.json')

In [2]:
with open ('1650608.json', encoding='utf8') as f:
    data = json.load(f)

In [3]:
data['home'].keys()

dict_keys(['teamId', 'formations', 'stats', 'incidentEvents', 'shotZones', 'name', 'countryName', 'players', 'managerName', 'scores', 'field', 'averageAge'])

In [8]:
df = pd.json_normalize(data['events'], sep='_')
pd.set_option('display.max_columns', None)
df = df[['id', 'playerId', 'teamId', 'minute', 'second', 'type_displayName', 'outcomeType_displayName', 'x', 'y', 'endX', 'endY']]
df.head()

,id,playerId,teamId,minute,second,type_displayName,outcomeType_displayName,x,y,endX,endY
0,2.462224e+09,NaN,52,0,0.0,Start,Successful,0.0,0.0,NaN,NaN
1,2.462224e+09,NaN,63,0,0.0,Start,Successful,0.0,0.0,NaN,NaN
2,2.462224e+09,347862.0,52,0,0.0,Pass,Successful,50.4,50.3,34.3,48.9
3,2.462224e+09,337879.0,52,0,1.0,Pass,Successful,30.0,41.8,31.0,44.9
4,2.462224e+09,39722.0,52,0,3.0,Pass,Unsuccessful,31.1,44.9,67.1,6.1